<%- include('../includes/header.ejs'); %>
<% if (locals.wasErr) { %>
    <div id='ssusn-regerror'>Could not register, please try again</div>
    <script>setTimeout(function(){document.getElementById('ssusn-regerror').remove();},5000);</script>
<% } %>
<h2>Register for the SSU Social Network</h2>
<form action="/account/register" method="post" id="ssusn_register">
    <label>Email address</label>
    <input type="email" name="email" placeholder="Enter email"/>
    <label>Full Name</label>
    <input type="text" name="fname" placeholder="First name"/>
    <input type="text" name="lname" placeholder="Last name"/><br/>
    <label>Password</label>
    <div>
        Your password must be at least 8 characters long, and contain three of the following
        <ul>
            <li>Lower case letters</li>
            <li>Upper case letters</li>
            <li>Numbers</li>
            <li>Special characters</li>
        </ul>
   </div>
   <input type="password" name="password"/>
   <button type="submit">Register</button>
</form>
<%- include('../includes/footer.ejs'); %>
