<%- include('../includes/header.ejs'); %>
<% if (locals.wasErr) { %>
    <div id='ssusn-posterror'>Could not post, please try again</div>
    <script>setTimeout(function(){document.getElementById('ssusn-posterror').remove();},5000);</script>
<% } %>
<h2>Create Post on the SSU Social Network</h2>
<form action="/content/create" method="post" id="ssusn_createPost">
    <label> Image </label>
    <input type="image" name="image_org" placeholder="Image"/>
    <br></br>
    <label> Comments </label>
    <input type="text" name="comment" placeholder="Write Comments Here"/>
    <br></br>
    <label> Tags </label>
    <input type="text" name="tag" placeholder="Add Tags Here"/>
    <br></br>
    <div>
    <button type="submit">Post</button>
</form>
<%- include('../includes/footer.ejs'); %>
