<%- include("./includes/header.ejs"); %>
<% if (locals.newAccount) { %>
    <div id="new-account">Successfully created account</div>
    <script>setTimeout(function(){document.getElementById('new-account').remove();},5000);</script>
<% } %> 
<h1>Social Network Dev</h1>
<% if (locals.session.isLogged) { %>
<div> hello logged in user </div>
<form action="account/logout" method="get" id="ssusn-logout">
    <button type="submit">Logout</button>
</form><br/>
<form action="search" method="get" id="ssusn-search">
    <input type="text" placeholder="search tags and descriptions..."/>
    <button type="submit">Search</button>
</form><br/>

<a href='/subscriptions'>View Subscriptions</a>

<a href='/subscriptions/subscribers'>View Subscribers</a>
<form action="content" method="post" id="ssusn-new-content" enctype="multipart/form-data">
    <input type="file" name="image_name"/><br/>
    <label>Description</label>
    <textarea name="image_desc"/></textarea><br/>
    <label>Tag</label>
    <input type="text" name="image_tags"/>
    <input type="submit"/>
</form>
<a href="content/getPosts">My Posts</a>
<a href="feed">Get Your Feed</a>
<% } else { %>
<form action="account/login" method="post" id="ssusn-login">
    <label>Email</label>
    <input type="email" name="email"/>
    <label>Password</label>
    <input type="password" name="password"/>
    <button type="submit">Login</button>
</form>
<a href="account/register" >Register</a>
<% } %>
<%- include("./includes/footer.ejs"); %>
