<%- include('../includes/header.ejs', {title:"Subscriptions"}); %>
<a href="/subscriptions/subscribers">view subscribers</a>
<h1>Subscriptions</h1>
<br />
<ul>
	<h2>users you are subscribed to</h2>
      	<% for(var i=0; i < result.length; i++) { %>
	   	<li><%= result[i].username %></li>
       	<% } %>
</ul>
<br />
<br />

<%- include('../includes/footer.ejs'); %>
