<%- include("./includes/header.ejs", {title:"Explore"}); %>

<h1>Matching Users:<h1>

<% for (var i=0; i < result.length; i++) { %>

<form action="subscriptions/subscribe">
      <input type="hidden" value="<%= result[i].username %>" />
      <input type="submit" value="subscribe" />
</form><br/>

<% } %>

<%- include("./includes/footer.ejs"); %>
